Repository sigdotcom/mstacm.org, pull requests merged in 2020-10, with the labels that each got.

#255 Large Modal Resume View
  apps/resume-portal/package.json
  apps/resume-portal/src/components/ResumeCard/ResumeCard.tsx
  apps/resume-portal/src/generated/graphql.tsx
  apps/resume-portal/src/index.css
  yarn.lock
Labels: enhancement :new:, front-end functional change, front-end visual change, resume-portal

#302 Update some homepage inconsistencies
  apps/web/src/screens/HomePage/sections/Events/Event.tsx
  apps/web/src/screens/HomePage/sections/Events/index.tsx
  apps/web/src/screens/HomePage/sections/Membership/index.tsx
Labels: bug :bug:, chore :zzz:, enhancement :new:, front-end, web

#298 Update all packages to latest version
  apps/admin-web/src/generated/graphql.tsx
  apps/api/yarn.lock
  apps/profile-web/src/generated/graphql.tsx
  apps/resume-portal/src/generated/graphql.tsx
  apps/resume-portal/src/index.css
  apps/web/src/generated/graphql.tsx
  yarn.lock
Labels: chore :zzz:
